<!DOCTYPE html>
<!-- 2016-07-01 K.OHWADA -->
<html>
<head>
<meta charset="utf-8">
<title>Sakura IoT Sensor</title>
</head>
<body id="body">
<h3>Manage</h3>	
<a href="/">[Home]</a> <a href="/manage">[Manage]</a>
<br />
<!-- add form -->
<form action="/manage" method="post">
<input type="hidden" name="action" value="{{ params["action"] }}" />
<input type="hidden" name="id" value="{{ params["id"] }}" /> 
<table>
{% for col in params["cols"] %}
	<tr><td>{{ col[0] }}</td><td><input type="text" name="{{ col[0] }}" value="{{ col[1] }}" ></td><tr> 
{% endfor %}
<tr><td></td><td><input type="submit" value="submit" /></td><tr>
</table> 
</form>
<!-- form end -->
</body>
</html>
